<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="container">
    <h1>Ruta</h1>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Cod Bus</th>
            <th scope="col">Nombre del Chofer</th>
            <th scope="col">Nombre de Ruta</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Actualiza los datos</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="b : ${lstBuses}">
          	<td th:text="${b.id_bus}"></td>
          	<td th:text="${b.chofer.nombres}"></td>
          	<td th:text="${b.ruta.nombre}"></td>
          	<td th:text="${b.marca}"></td>
          	<td th:text="${b.modelo}"></td>
          	<td>
          		<form action="/buses/editar" method="post">
          			<input type="hidden" name="id_bus" th:value="${b.id_bus}">
          			<button type="submit" class="btn btn-info">Seleccione</button>
          		</form>
          	</td>
          </tr>
        </tbody>
      </table>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>